body {
    margin: 0;
    padding: 0;
    background-color: #524e4e;
    font-family: Arial, sans-serif;
}
#cabecalho_1 {
    width: 100%;
    height: 85px;
    background-color: #a09d9d;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
#cabecalho_1 img {
    width: 90px;
    max-width: 100%;
}
#cabecalho_1 button {
    background: none;
    border: none;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    color: #16154e;
    font-size: 1.60em;
    cursor: pointer;
    font-weight: bold;
    font-family: OCR A Std, monospace;
    text-shadow: 3px 3px 13px #252525;
}
#cabecalho_1 button:hover {
    color: #d2d1f7;
}

h1 {
    font-size: 2.5em;
    color: #cacadd;
    font-family: DejaVu Sans Mono, monospace;
    text-align: left;
    padding-left: 70px;
    margin-bottom: 0;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    color: #cacadd;
    font-family: DejaVu Sans Mono, monospace;
    text-align: left;
    padding-left: 70px;
    margin-top: 0;
}
p {
    font-size: 1.75em;
    color: #cacadd;
    font-family: Andale Mono, monospace;
    text-align: left;
    padding-left: 70px;
}

.quadro-vazado {
    display: flex;
    width: 650px; 
    aspect-ratio: 16 / 9;
    border: 8.5px solid #201f64;
    background-color: transparent;
    border-radius: 12px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 50px;
}
.comidas {
    display: flex;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
}

#rodape {
    width: 100%;
    height: 80px;
    background-color: #a09d9d;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
#rodape img {
    width: 70px;
    max-width: 100%;
}
#rodape p {
    font-size: 1em;
    color: 16154e;
    color: #16154e;
    font-family: OCR A Std, monospace;
    margin-left: 20px;
}